extend layouts/base.pug

block content 
    section
        h1.mb-12.title Imagine Fall. Share your thoughts.

        p.mb-4 Each category contains an opportunity to join a vision of Fall.

        ul
            each cat in files
                li.mb-2
                    a(href=`./${cat}`).underline=cat