extends layouts/base.pug

block content
  section
    h1.title.mb-12 Mobi Collection Fall 2021

    p.mb-8 Experience what folks think of Fall for this workshop. We'll be sharing all of this by make API endpoints!

    div.flex.flex-col
      a.button.mb-4.max-w-xs(href="/pictures") View collection 
      a.button(href="/add") Contribute
