extends layouts/base.pug

block content
  section
    h1.title.mb-12 Mobi Collection Fall 2021

    div.flex.flex-col
      a.button.mb-4.max-w-xs(href="/pictures") View collection 
      a.button.max-w-xs(href="/add") Contribute